* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282d35;
}

.nav {
  display: flex;
  background-color: #21222a;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
}

.nav--icon {
  height: 30px;
  margin-right: 20px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.container {
  background-color: #282d35;
}

.nav--logo_text {
  margin-right: auto;
  font-weight: 700;
  color: #61dafb;
  font-size: 22px;
}

.nav--title {
  font-weight: 600;
  color: #deebf8;
}

main {
  margin-left: 30px;
  margin-top: 50px;
  background-image: url(./images/react-large-icon.png);
  background-size: 10em;
  background-repeat: no-repeat;
  background-position: right 50%;
}

.main--title {
  color: #ffffff;
  margin: 0;
}

.main--facts {
  margin-top: 46px;
  color: #ffffff;
}

.main--facts > li {
  padding-block: 10px;
}

.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
